{{ block title }}
Phase 3: Seeing the Results

{% load otree static %}
<link rel="stylesheet" href="{% static 'styles.css' %}"/>
<script src="{% static 'render_reward.js' %}"></script>
{{ endblock }}

{{ block content }}
    <strong>📋 Rules: </strong> <br>
    The system announces the outcome:
    <ol>
        <li> 
            Whether the revolt succeeded or failed.
        </li>

        <li> 
            How many participants joined the revolt in total. 
        </li>

        <li> 
            Your individual reward or loss.
        </li>
    </ol>

    <strong>💰 Calculation of Reward and Loss: </strong> <br>
    <table id="revoltTable" class="tabular-data-light"></table>
    <script>
        renderRewardsTable({{ rewards }});
    </script>

    <div class="example-box-black">
        <strong>🔍 Example:</strong> <br> 

        <table border="1" cellpadding="5" cellspacing="0" class="tabular-data-dark">
            <tr>
                {{if revolt_success}}
                    <th class="cell">✅ Revolt Outcome</th>
                {{else}}
                    <th class="cell">❌ Revolt Outcome</th>
                {{endif}}
        
                <th class="cell">👥 Total Participants</th>
        
                {{  if not join_revolt  }}
                    <th class="cell">🚫 You didn't join</th>
                {{ elif revolt_success  }}
                    <th class="cell">💰 Your reward</th>
                {{  else    }}
                    <th class="cell">💸 You loss</th>
                {{endif}}
            </tr>
            <tr>
                <td class="cell">
                    {{if revolt_success}}Succeed{{else}}Failed{{endif}}
                </td>
                <td class="cell">{{num_participants}}</td>
                <td class="cell">{{payoff}}</td>
            </tr>
        </table>
    </div>


    {{next_button}}
{{ endblock }}

