{{ block title }}
Phase 3: Seeing the Results

{% load otree static %}
<link rel="stylesheet" href="{% static 'styles.css' %}"/>
{{ endblock }}

{{ block content }}
    <strong>📋 Rules: </strong> <br>
    The system announces the outcome:
    <ol>
        <li> 
            Whether the revolt succeeded or failed.
        </li>

        <li> 
            How many participants joined the revolt in total. 
        </li>

        <li> 
            Your individual reward or loss.
        </li>
    </ol>
    <div class="example-box-black">
        <strong>🔍 Example:</strong> <br> 

        <table border="1" cellpadding="5" cellspacing="0" class="tabular-data">

            <tr>
                <th class="cell">Name</th>
                <th class="cell">Value</td>
            </tr>


            <tr>
                {{if revolt_success}}
                    <th class="cell">✅ Revolt Outcome</th>
                    <td class="cell">Succeed</td>
                {{else}}
                    <th class="cell">❌ Revolt Outcome</th>
                    <td class="cell">Failed</td>
                {{endif}}
            </tr>
            
            <tr>
                <th class="cell">👥 Total Participants</th>
                <td class="cell">{{num_participants}}</td>
            </tr>
            <tr>
                {{  if not join_revolt  }}
                    <th class="cell">🚫 You didn't join
                {{ elif revolt_success  }}
                    <th class="cell"> 💰 Your reward
                {{  else    }}
                    <th class="cell"> 💸 You loss
                {{endif}}

                <td class="cell">{{rewards}}</td>
            </tr>
        </table>

    </div>


    {{next_button}}
{{ endblock }}

