{{ block title }}
Phase 3: Seeing the Results

{% load otree static %}
<link rel="stylesheet" href="{% static 'styles.css' %}"/>
<script src="{% static 'render_reward.js' %}"></script>
{{ endblock }}

{{ block content }}
    <strong>📋 Rules: </strong> <br>
    The system announces the outcome:
    <ol>
        <li> 
            Whether the revolt succeeded or failed.
        </li>

        <li> 
            How many participants joined the revolt in total. 
        </li>

        <li> 
            Your individual reward or loss.
        </li>
    </ol>

    <strong>💰 Calculation of Reward and Loss: </strong> <br>
    <table id="revoltTable" class="tabular-data-light"></table>
    <script>
        renderRewardsTable({{ rewards }});
    </script>

    <div class="example-box-black">
        <strong>🔍 Example:</strong> <br> 

        <table border="1" cellpadding="5" cellspacing="0" class="tabular-data-dark">
            <tr>
                {{if revolt_success}}
                    <th class="cell-dark">✅ Revolt Outcome</th>
                {{else}}
                    <th class="cell-dark">❌ Revolt Outcome</th>
                {{endif}}
        
                <th class="cell-dark">👥 Total Participants</th>
                <th class="cell-dark">🔁 Your gain/loss</th>
                <th class="cell-dark">💰 Your payoff</td>
            </tr>
            <tr>
                <td class="cell-dark">
                    {{if revolt_success}}Succeed{{else}}Failed{{endif}}
                </td>
                <td class="cell-dark">{{num_participants}}</td>

                {{  if not join_revolt  }}
                    <td class="cell-dark">{{gain_or_loss}} (You didn't join.)</td>
                {{  else    }}
                    <td class="cell-dark">{{gain_or_loss}}</td>
                {{endif}}

                <td class="cell-dark">{{payoff}}</td>
            </tr>
        </table>
    </div>


    {{next_button}}
{{ endblock }}

